@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: #0e0e0e;
  background-image: url('headlights-background.jpeg');
  background-size: cover; /* Rozciągnij obraz tła, aby wypełnić całe tło */
  background-repeat: no-repeat; /* Wyłącz powtarzanie tła */
  background-position: top; 
}


@media (max-width: 820px) {
  body {
    background-image: url('headlights-background-mobile.jpg');
    background-size: 100% auto;
    background-position: top; 
  }
}

@layer base {
  :root {
    --background: 200 20% 98%;
    --btn-background: 200 10% 91%;
    --btn-background-hover: 200 10% 89%;
    --foreground: 200 50% 3%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 200 50% 3%;
      --btn-background: 200 10% 9%;
      --btn-background-hover: 200 10% 12%;
      --foreground: 200 20% 96%;
    }
  }
}

@layer base {
  * {
    @apply border-foreground/20;
  }
}
@layer components {
  .animate-btn-primary{
    @apply text-yellow-600
    border-2 border-yellow-600
    hover:bg-yellow-600
    hover:text-black
    duration-500
    hover:cursor-pointer
  }
  .animate-btn-secondary{
    @apply text-white
    border-white 
    border font-semibold
    hover:bg-white
    hover:text-black
    duration-500
    hover:cursor-pointer
  }
  .main{
    @apply flex-1
     w-full flex flex-col
     justify-center gap-12 
     items-center mt-44
  }
}
.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
